body {
    background-color: #505050;
    color:            #FFF;
    padding-top:      50px;
    padding-bottom:   20px;
}

input {
    color: #000;
}

select {
    color: #000;
}

.api td, th {
    padding-right:  20px;
    vertical-align: top;
}

.body-content {
    padding-left:  15px;
    padding-right: 15px;
}

.jumbotron {
    color: #000;
}
