
@{
    ViewData["title"] = "Tasks API";
}

<h2>Simple REST Web API</h2>

<div class="jumbotron">
    <h3>@ViewData["message_short"]</h3>

    <p>You can use <a href="https://www.getpostman.com/apps">Postman</a> or <a href="https://curl.haxx.se/docs/manpage.html">curl</a> to test the API from the client side.</p>

    <table class="api">
        <tr><th>Method</th><th>URL</th><th>Description</th></tr>
        <tr><td>GET</td><td><a href="/api/Tasks">/api/Tasks</a></td><td>Returns all tasks</td></tr>
        <tr><td>GET</td><td><a href="/api/Tasks/id">/api/Tasks/id</a></td><td>Returns the task with the specified ID if it exists</td></tr>
        <tr><td>POST</td><td><a href="/api/Tasks">/api/Tasks</a></td><td>Adds a new task</td></tr>
        <tr><td>PUT</td><td><a href="/api/Tasks/id">/api/Tasks/id</a></td><td>Updates the task with the specified ID if it exists</td></tr>
        <tr><td>DELETE</td><td><a href="/api/Tasks/id">/api/Tasks/id</a></td><td>Deletes the task with the specified ID if it exists</td></tr>
    </table>
    <br />

    <table class="api">
        <tr><th>Field</th><th>Required</th><th>Rules</th><th>Example Value</th></tr>
        <tr><td>title</td><td>Yes</td><td>DataType=String, MinLength=3, MaxLength=50</td><td>A short title</td></tr>
        <tr><td>description</td><td>No</td><td>DataType=String, MaxLength=250</td><td>An optional and longer description</td></tr>
        <tr><td>date</td><td>No</td><td>DataType=Date</td><td>2018-08-12T00:00:00</td></tr>
        <tr><td>status</td><td>Yes</td><td>DataType=String</td><td>"N/A", "Not Started", "Started", "In Progress", "Almost Done", "Completed"</td></tr>
    </table>
</div>
